@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /* COLORS */
	--clr-white: #fff;
    --clr-primary: #6366f1;
	--clr-gray100: #F3F6FF;
	--clr-gray200: #EFF2FC;
	--clr-gray300: #E2E5F1;
	--clr-gray400: #D4D7E5;
	--clr-gray500: #B4B7C9;
    --clr-gray600: #9397AD;
	--clr-gray700: #565973;
	--clr-gray800: #33354D;
	--clr-gray900: #0B0F19;

    --clr-text-light: #131022;
	--clr-text-primary: #fff;

	--primary-alpha-35: rgba(99, 101, 241, 0.35);

    /* SHADOWS */
	--shdw-brand: 0px 8px 18px -8px rgba(99, 101, 241, 0.9); 
    --shdw-secondary: 0px 8px 18px -8px rgba(19, 16, 34, 0.2);
	--shdw-s: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03); 

	/* TYPOGRAPHY */
	--text-nav-font-size: 16px;
	--text-nav-font-weight: 600;  
	--text-nav-line-height: 160%;

	/* BUTTONS */
	--border-radius-square: 0.5rem;
	--border-radius-circle: 50%;
}

/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}


body, span, a {
    font-family: "Manrope", sans-serif;
	text-decoration: none;
}

/* UTILITY CLASSES */
.flex {
	display: flex;
}

.grid {
	display: grid;
}

.block {
	display: block;
}

.hide {
	display: none;
}

.align-center{
	align-items: center;
}

.fit-content {
	max-width: fit-content;
}

.t-center {
	text-align: center;
}
.pad-r-xs {
	padding-right: .3em;
}

.m-right {
	margin-right: 2rem;
}

.ease-fast {
	transition: 100ms ease;
}

.show-l {
	@media (width > 1200px){
		display: flex;
	} 
}

.ul-none {
	list-style-type: none;
}

/* TYPOGRAPHY*/
.d4 {
	font-size: 3.6rem;
	font-weight: 800;
	line-height: 130%;
	color: var(--clr-gray900);
}

.headings {
	font-weight: 800;
	line-height: 130%;
	color: var(--clr-gray900);
}

.h1 {
	font-size: 2.5rem;
}

.h2 {
	font-size: 2rem;
}

.h3 {
	font-size: 1.75rem;
}

.h5 {
	font-size: 1.25rem;
}

.h6 {
	font-size: 1rem;
}

.text-body {
	font-weight: 400;
	line-height: 160%;
	color: var(--clr-gray700);
}

.body-lead{
	font-size: 1.5rem;
}

.body-xl {
	font-size: 1.25rem;
}

.body-l {
	font-size: 1.125rem;
}

.body-m {
	font-size: 1rem;
}

.body-s {
	font-size: 0.875;
}

.body-xs {
	font-size: 0.75rem;
}

.content {
	width: 100%;
	margin: 0 auto;
	padding-inline: 1rem;

	@media (width > 768px) {
		max-width: 720px;
	}

	@media (width > 1200px) {
		max-width: 1320px;
	}
}

/* NAVBAR */
.main-nav .left{
	gap: 1.5rem;
}

.logo {
	padding-block: .5rem;
}

.logo:hover{
	.logo-text {
		color: var(--clr-primary);
	}
	img {
		opacity: 70%;
	}

}

.logo-text {
	line-height: 33%;
	margin-left: 0.2rem;
	color: var(--clr-gray900);
	font-size: 20px;
	font-weight: 800;
}

.nav-link {
	align-items: center;
	font-size: var(--text-nav-font-size);
	font-weight: var(--text-nav-font-weight);
	line-height: var(--text-nav-line-height);
	color: var(--clr-gray800);
	&:hover {
		color: var(--clr-primary);
	}
	
	@media (width > 1200px){
		display: flex;

	}
}

.main-nav .content{
	justify-content: space-between;
	align-items: center;
}

.main-nav .right {
	gap: 1.5rem;
}

.dark-mode {
	cursor: default;
	font-size: var(--text-nav-font-size);
	font-weight: var(--text-nav-font-weight);
	line-height: var(--text-nav-line-height);
	color: var(--clr-gray800);
	margin-inline: .5rem;
	@media (width > 768px){
		display: flex;
	}
}

/* TOGGLE */
.toggle {
	input[type=checkbox]{
		height: 0;
		width: 0;
		visibility: hidden;
	}
	
	label {
		cursor: pointer;
		text-indent: -9999px;
		width: 46px;
		height: 24px;
		background: var(--clr-gray600);
		display: block;
		border-radius: 24px;
		position: relative;
		box-shadow: var(--shdw-secondary);
	}
	
	label:after {
		content: '';
		position: absolute;
		top: 3px;
		left: 3px;
		width: 18px;
		height: 18px;
		background: #fff;
		border-radius: 100%;
		transition: 0.3s;
	}
	
	input:checked + label {
		background: var(--clr-primary);
	}
	
	input:checked + label:after {
		left: calc(100% - 3px);
		transform: translateX(-100%);
	}
	
	label:active:after {
		width: 130px;
	}
	
}

.menu-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;

	&:hover {
		color: var(--clr-primary);
	}

	@media (width > 1200px) {
		display: none;
	}
}

.btn {
	text-decoration: none;
	font-size: 14px;
	line-height: 160%;
	font-weight: 600;
	align-items: center;
	padding: .5em 1.5em;
	border-radius: 0.25em;
}

.btn-primary {
	background-color: var(--clr-primary);
	color: var(--clr-text-primary);
	border: 1px solid var(--clr-primary);
}

.btn-primary:focus {
	border: 1px solid var(--primary-alpha-35);
	background-color: #fff;
	color: var(--clr-primary);
}
/* NAVBAR END */

/* SHOWCASE */
.showcase {
	background: rgb(99,102,241);
	background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
}
.showcase .content {
	flex-direction: column;
}

.showcase .h1 {
	margin-top: 2.5rem;
	grid-area: h1;
}

.showcase p {
	margin-block: 2.5rem;
	grid-area: p;
}

.store-box {
	flex-direction: column;
	gap: 1rem;
	grid-area: store-btn;

	@media (width > 600px) {
		flex-direction: row;
	}
}

.store-btn {
	background-color: var(--clr-gray900);
	padding-block: .6em;
	justify-content: center;
	border-radius: var(--border-radius-square);
	padding-inline: 1em;
	width: 100%;
	margin: 0 auto;
}

.down-link {
	justify-content: center;
	margin-block: 2.5rem;
}

.down-btn-m {
	background-color: #ffffff;
	color: var(--clr-gray800);
	box-shadow: var(--shdw-s);
	font-size: 1.25rem;
	border-radius: var(--border-radius-circle);
	padding: 1rem;
	width: fit-content;
}

@media (width > 768px) {
	.showcase .content {
		position: relative;
	}

	.heading-container {
		width: 100%;
		justify-content: center;
	}

	.h1 {
		max-width: 440px;
	}

	.showcase .box {
		width: 40%;
	}

	.showcase p {
		text-align: start;
		margin-top: 8rem;
	}

	.down-link {
		justify-content: left;
	}
	
	.showcase-img {
		display: block;
		width: 65%;
		max-width: 500px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

@media (width > 1200px) {

	.heading-container {
		width: 40%;
		justify-content: start;
		margin-top: 10rem;
	}

	.showcase .h1 {
		text-align: left;
		max-width: 530px;
		font-size: 3.6rem;
		font-weight: 800;
		line-height: 130%;
		color: var(--clr-gray900);
		margin: 0;
	}

	.showcase p {
		margin-top: 1rem;
	}

	.down-link {
		margin-top: 10rem;
		margin-bottom: 3rem;
	}

	.showcase-img {
		max-width: 700px;
	}
}
/* SHOWCASE END */

/* APP FEATURES */
.features {
	margin-block: 4rem;
}

.heading-container {
	margin-bottom: 2rem;
	h2 {
		margin-bottom: 2rem;
	}
}

.features-container {
	flex-direction: column;
	gap: 2rem;
}

.box h5 {
	margin-bottom: .7rem;
}

.feature {
	gap: 1.5rem;
}

.feature-icon {
	background-color: #F3F6FF;
	padding: 1rem;
	border-radius: var(--border-radius-square);
	height: fit-content;

	img {
		min-width: 28px;
	}
}

@media (width > 768px) {
	.brands {
		display: flex;
		justify-content: space-around;
		gap: 1.5rem;
		margin-top: 3rem;
	}

	.logo-container {
		display: flex;
		border: 1px solid var(--clr-gray300);
		border-radius: var(--border-radius-square);
		padding: 2em .5em;
		align-content: center;
		justify-content: center;
	}

	.heading-container {
		margin-block: 3.5em 2.5em;
	}

	.features-container {
		flex-wrap: wrap;
		flex-direction: row;
	}

	.feature {
		flex-basis: 40%;
		flex-grow: 1;
	}

	#brand5, #brand6 {
		display: none;
	}
}

@media (width > 1200px) {
	.brands {
		margin-bottom: 4rem;
	}

	#brand5, #brand6 {
		display: inline;
	}

	.features {
		.box {
			flex-direction: row;
			justify-content: space-between;
		}

		.left {
			width: 60%;
		}

		.heading-container {
			width: 100%;
		}

		h2, p {
			text-align: left;
		}
	}
	
	.features-container {
		width: 100%;
	}

	.features-img {
		display: inline-block;
		align-self: center;
	}
}
/* APP FEATURES END */

/* HOW DOES IT WORK */
.how {
background-color: var(--clr-gray100);
}

.how .content {
	flex-direction: column;
	align-items: center;
}

.how-heading {
	margin-block: 5rem 0rem;
}

.how-images {
	margin: 3rem 3rem;
	max-width: 300px;

	img-container {
		align-items: center;
	}
}

.how p {
	margin-block: 1rem 4rem;
}

@media (width > 768px) {
	.how-images {
		max-width: 620px;
	}
	
	.img-container {
		display: flex;
		padding-inline: .3rem;
	}

	.how p {
		max-width: 430px;
	}
}

@media (width > 1200px) {
	.how-images {
		max-width: 1200px;
	}
	.img-container {
		padding-inline: 2rem;
	}

	.how p {
		max-width: 600px;
	}
}

/* HOW DOES IT WORK? END */

/* ADDITIONAL FEATURES AND REVIEWS (DESKTOP ONLY) */
@media (width > 1200px) {
	.features-part2 {
		display: block;

		.content {
			max-width: 1100px;
			flex-wrap: wrap;
			margin-block: 5rem;
			row-gap: 2.5rem;
		}

		.img-container {
			padding: 0;
		}
	}

	.flex-item {
		flex-wrap: wrap;
		flex: 1 0 40%;
		align-content: center;
	}

	.item1 {
		h3 {
			max-width: 420px;
		}

		ul {
			flex-direction: column;
			gap: 0.75rem;
			margin-block: 2rem;
		}

		li {
			align-content: center;
		}
	}

	.bulletpoint {
		display: inline;
		margin-right: .5em;
	}

	.item4 {
		flex-direction: column;
		justify-content: center;

		.features {
			flex-direction: row;
			gap: .5rem;
			margin-block: 2rem;
		}

		p {
			margin-top: 1rem;
		}
	}

	/* REVIEWS SECTION */

	.reviews {
		display: flex;
		background-color: var(--clr-gray100);
	}
	.review-content {
		margin-block: 5rem;
		padding: 0;
		justify-content: space-between;
	}

	.reviews .heading-container {
		max-width: 300px;
		margin: 0;
	}

	.reviews-container {
		gap: 1.5rem;
	}

	.quotation {
		position: absolute;
		top: -30px;
		background-color: var(--clr-primary);
		width: fit-content;
		padding: .8em;
		border-radius: .375em;
		box-shadow: var(--shdw-brand);
	}

	.review-card {
		position: relative;
		background-color: var(--clr-white);
		border-radius: var(--border-radius-square);
		box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 35, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
		max-width: 420px;
		padding: 3rem 1.5rem 1.5rem 1.5rem;
	}

	.review {
		padding-block: 1.5rem;
	}

	.user {
		align-items: center;
	}

	.user-image {
		padding-right: 1rem;

		img {
			width: 48px;
		}
	}

	.user-title {
		color: var(--clr-gray600);
		line-height: 130%;
	}

}
